<form>
<div class="form-floating">
  <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" style="width: 300px; margin: 1em" aria-label="Email">
  <label for="floatingInput" style="margin-left: 1em">Email Address</label>
</div>
<div class="form-floating">
  <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" style="width: 300px; margin: 1em" aria-label="Password">
  <label for="floatingPassword" style="margin-left: 1em">Password</label>
</div>
<div class="form-check">
  <input class="form-check-input" name="saveCookies" type="checkbox" id="autoSizingCheck" aria-label="Remember me checkbox">
    <label class="form-check-label" for="autoSizingCheck">
      Remember Me?
    </label>
</div>
<div class="col-auto">
  <button type="submit" class="btn btn-primary" id="SignInNewRegister" style="width: 300px; margin: 1em">Sign in</button>
  <script>
    function registrationSubmitAlert() {
      if(document.getElementById("floatingInput").value.length === 0 || documents.getElementById("floatingPassword").value.length === 0) {
        alert('Please be sure to fill out "Email Address" and "Password" fields');
      }
    };
    document.getElementById("SignInNewRegister").onclick = registrationSubmitAlert
  </script>
</div>
</div>
</form>